/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.sidebar > .sidebar-links > li
  padding: 0!important
.sidebar > .sidebar-links > li > a.sidebar-link
  font-size: 1.09em!important
  line-height: 1!important
  font-weight: bold
.sidebar-group.collapsable > span
  color: #eee!important

ul > li > section > span
  color: #eee!important
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
    opacity: 0.7!important;
    font-weight: 700;
}

.sidebar-group.is-sub-group > .sidebar-group-items > li > .sidebar-link.active, li > .sidebar-link.active {
  text-decoration: underline;  
}
.theme-succinct-content p code {
  color: $accentColor!important;
  background-color: rgba(130, 224, 170,0.08)!important;
}

.page-edit .edit-link {
  padding: 7px 20px;
  border: 1px solid var(--textMutedColor);
  border-radius: 15px;
  background-color: rgba(130, 224, 170,0.00);
  transition: 0.3s;
}

.page-edit .edit-link:hover {
  background-color: rgba(130, 224, 170,0.3);
}